body{
        
    background-color: rgb(241, 215, 204);
       }
       .ww{
        width: 20%;
        float: right;
        
      }
      .tab{
        padding-left: 250px;
      
     }
     .rt{
        padding-left: 120px;
     }
     .field{
         background-color: gray;
         
     }
   .ser{
      float: right;
      display: block;
      color: rgb(13, 10, 17);
      text-align: center;
      padding:  5px  8px;
      text-decoration: none;
      font-size: 15px;
      background-color: rgb(241, 234, 241);
   }

   .center{
      text-align: center;
   }
